[submodule "cli"]
	path = cli
	url = https://github.com/redhat-openshift-builds/shipwright-io-cli.git
[submodule "build"]
	path = build
	url = https://github.com/redhat-openshift-builds/shipwright-io-build.git
